.empty {
  margin: auto;
  text-align: center;
  padding: 40px;
}

.emptySymbol {
  font-size: 52px;
  color: #9991c4;
}

.empty h2 {
  font-size: 30px;
  font-weight: 400;
  color: #7c7898;
  margin: 20px 0;
}

.empty p {
  font-size: 14px;
  margin-bottom: 25px;
}
